<a href="https://colab.research.google.com/github/MuhammadHamzaAfzal/Python_Class_Work_jz/blob/master/Pandas_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("data for panda exercise.csv")
df

     Student Code  Degree  ... Total (100)  Grade
0    022-14-19987  BS(CS)  ...          70      B
1   022-14-110233  BS(CS)  ...          50      F
2   022-14-110585  BS(CS)  ...          63      C
3    022-14-19718  BS(CS)  ...          46      F
4   022-14-110648  BS(CS)  ...          77      B
5   022-14-110232  BS(CS)  ...          71      B
6   022-14-110588  BS(CS)  ...          74      B
7   022-14-110388  BS(CS)  ...          85      A
8   022-14-110601  BS(CS)  ...          61      C
9   022-14-110599  BS(CS)  ...          84      A
10  022-14-110214  BS(CS)  ...          91      A
11  022-14-110591  BS(CS)  ...          76      B
12  022-15-110994  BS(CS)  ...          73      B
13  022-14-110600  BS(CS)  ...          67      C
14  022-14-110389  BS(CS)  ...          65      C
15   022-14-19916  BS(CS)  ...          18      F
16  022-14-110596  BS(CS)  ...          72      B
17  022-14-110396  BS(CS)  ...          70      B
18  022-14-110223  BS(CS)  ...          60      C
19  022-14-110222  BS(CS)  ...          91      A
20  022-14-110412  BS(CS)  ...          71      B
21  022-14-110593  BS(CS)  ...          60      C
22  022-14-110398  BS(CS)  ...          57      F
23   022-14-19983  BS(CS)  ...          62      C
24  022-14-110215  BS(CS)  ...          77      B
25  022-14-110105  BS(CS)  ...          86      A
26  022-14-110370  BS(CS)  ...          65      C
27  022-14-110452  BS(CS)  ...          71      B
28  022-14-110387  BS(CS)  ...          57      F
29  022-14-110217  BS(CS)  ...          39      F
30  022-14-110401  BS(CS)  ...          72      B
31  022-14-110231  BS(CS)  ...          73      B
32  022-14-110035  BS(CS)  ...          29      F
33   022-14-19919  BS(CS)  ...          51      F
34  022-14-110413  BS(CS)  ...          86      A
35   022-14-19923  BS(CS)  ...          66      C
36  022-14-110582  BS(CS)  ...          70      B
37  022-14-110230  BS(CS)  ...          75      B
38  022-14-110229  BS(CS)  ...          39      F
39  022-14-110107  BS(CS)  ...          68      C
40  022-14-110584  BS(CS)  ...          81      A
41  022-14-110225  BS(CS)  ...          57      F
42  022-14-110587  BS(CS)  ...          67      C
43  022-14-110451  BS(CS)  ...          79      B
44  022-14-110589  BS(CS)  ...          63      C
45  022-14-110400  BS(CS)  ...          80      A
46   022-14-19911  BS(CS)  ...          65      C
47  022-14-110219  BS(CS)  ...          46      F

[48 rows x 14 columns]

In [3]:
df.shape

(48, 14)

In [4]:
df.columns

Index(['Student Code', 'Degree', 'Student Name', 'Mid', 'Quiz 1', 'Quiz 2',
       'Best of Quizzes', 'Assignment 1', 'Assignment 2',
       'Best of Assignments', 'Total Sessional (50)', 'Final (50)',
       'Total (100)', 'Grade'],
      dtype='object')

In [5]:
a=df.head(n=10)
a

    Student Code  Degree      Student Name  ...  Final (50)  Total (100)  Grade
0   022-14-19987  BS(CS)       Abdul Basit  ...        25.0           70      B
1  022-14-110233  BS(CS)       Adeel Ahmed  ...        18.0           50      F
2  022-14-110585  BS(CS)      Afrah Zareen  ...        30.0           63      C
3   022-14-19718  BS(CS)    Ahmed Ali Raza  ...        23.0           46      F
4  022-14-110648  BS(CS)   Ahsan Ali Vohra  ...        34.0           77      B
5  022-14-110232  BS(CS)       Ameer Hamza  ...        27.0           71      B
6  022-14-110588  BS(CS)     Anas Ali Khan  ...        30.0           74      B
7  022-14-110388  BS(CS)  Aneebullah Niazi  ...        40.0           85      A
8  022-14-110601  BS(CS)    Areesha Sohail  ...        24.0           61      C
9  022-14-110599  BS(CS)           Arsalan  ...        40.0           84      A

[10 rows x 14 columns]

In [6]:
b=df.tail()
b

     Student Code  Degree       Student Name  ...  Final (50)  Total (100)  Grade
43  022-14-110451  BS(CS)  Syed Faizan Uddin  ...        34.0           79      B
44  022-14-110589  BS(CS)        Syed Sohaib  ...        22.0           63      C
45  022-14-110400  BS(CS)  Syeda Sabika Raza  ...        35.0           80      A
46   022-14-19911  BS(CS)         Usman Khan  ...        22.0           65      C
47  022-14-110219  BS(CS)        Waqar Ahmed  ...        19.0           46      F

[5 rows x 14 columns]

In [7]:
pd.concat([a,b])

     Student Code  Degree       Student Name  ...  Final (50)  Total (100)  Grade
0    022-14-19987  BS(CS)        Abdul Basit  ...        25.0           70      B
1   022-14-110233  BS(CS)        Adeel Ahmed  ...        18.0           50      F
2   022-14-110585  BS(CS)       Afrah Zareen  ...        30.0           63      C
3    022-14-19718  BS(CS)     Ahmed Ali Raza  ...        23.0           46      F
4   022-14-110648  BS(CS)    Ahsan Ali Vohra  ...        34.0           77      B
5   022-14-110232  BS(CS)        Ameer Hamza  ...        27.0           71      B
6   022-14-110588  BS(CS)      Anas Ali Khan  ...        30.0           74      B
7   022-14-110388  BS(CS)   Aneebullah Niazi  ...        40.0           85      A
8   022-14-110601  BS(CS)     Areesha Sohail  ...        24.0           61      C
9   022-14-110599  BS(CS)            Arsalan  ...        40.0           84      A
43  022-14-110451  BS(CS)  Syed Faizan Uddin  ...        34.0           79      B
44  022-14-110589  BS(CS)        Syed Sohaib  ...        22.0           63      C
45  022-14-110400  BS(CS)  Syeda Sabika Raza  ...        35.0           80      A
46   022-14-19911  BS(CS)         Usman Khan  ...        22.0           65      C
47  022-14-110219  BS(CS)        Waqar Ahmed  ...        19.0           46      F

[15 rows x 14 columns]

In [8]:
df[df.Grade=="A"]

     Student Code  Degree         Student Name  ...  Final (50)  Total (100)  Grade
7   022-14-110388  BS(CS)     Aneebullah Niazi  ...        40.0           85      A
9   022-14-110599  BS(CS)              Arsalan  ...        40.0           84      A
10  022-14-110214  BS(CS)  Fatima Haider Warsi  ...        45.0           91      A
19  022-14-110222  BS(CS)      Mohammad Hunain  ...        45.0           91      A
25  022-14-110105  BS(CS)       Muhammad Faraz  ...        41.0           86      A
34  022-14-110413  BS(CS)     Nazeer Bin Zafar  ...        42.0           86      A
40  022-14-110584  BS(CS)          Sharif Taqi  ...        35.0           81      A
45  022-14-110400  BS(CS)    Syeda Sabika Raza  ...        35.0           80      A

[8 rows x 14 columns]

In [9]:
sum(df.Grade=="A")

8

In [10]:
df[df["Best of Assignments"] >=5]

     Student Code  Degree  ... Total (100)  Grade
0    022-14-19987  BS(CS)  ...          70      B
1   022-14-110233  BS(CS)  ...          50      F
2   022-14-110585  BS(CS)  ...          63      C
4   022-14-110648  BS(CS)  ...          77      B
5   022-14-110232  BS(CS)  ...          71      B
6   022-14-110588  BS(CS)  ...          74      B
7   022-14-110388  BS(CS)  ...          85      A
8   022-14-110601  BS(CS)  ...          61      C
9   022-14-110599  BS(CS)  ...          84      A
10  022-14-110214  BS(CS)  ...          91      A
11  022-14-110591  BS(CS)  ...          76      B
12  022-15-110994  BS(CS)  ...          73      B
13  022-14-110600  BS(CS)  ...          67      C
14  022-14-110389  BS(CS)  ...          65      C
16  022-14-110596  BS(CS)  ...          72      B
17  022-14-110396  BS(CS)  ...          70      B
18  022-14-110223  BS(CS)  ...          60      C
19  022-14-110222  BS(CS)  ...          91      A
20  022-14-110412  BS(CS)  ...          71      B
21  022-14-110593  BS(CS)  ...          60      C
22  022-14-110398  BS(CS)  ...          57      F
23   022-14-19983  BS(CS)  ...          62      C
24  022-14-110215  BS(CS)  ...          77      B
25  022-14-110105  BS(CS)  ...          86      A
26  022-14-110370  BS(CS)  ...          65      C
27  022-14-110452  BS(CS)  ...          71      B
28  022-14-110387  BS(CS)  ...          57      F
29  022-14-110217  BS(CS)  ...          39      F
30  022-14-110401  BS(CS)  ...          72      B
31  022-14-110231  BS(CS)  ...          73      B
32  022-14-110035  BS(CS)  ...          29      F
33   022-14-19919  BS(CS)  ...          51      F
34  022-14-110413  BS(CS)  ...          86      A
35   022-14-19923  BS(CS)  ...          66      C
36  022-14-110582  BS(CS)  ...          70      B
37  022-14-110230  BS(CS)  ...          75      B
38  022-14-110229  BS(CS)  ...          39      F
39  022-14-110107  BS(CS)  ...          68      C
40  022-14-110584  BS(CS)  ...          81      A
41  022-14-110225  BS(CS)  ...          57      F
42  022-14-110587  BS(CS)  ...          67      C
43  022-14-110451  BS(CS)  ...          79      B
44  022-14-110589  BS(CS)  ...          63      C
45  022-14-110400  BS(CS)  ...          80      A
46   022-14-19911  BS(CS)  ...          65      C
47  022-14-110219  BS(CS)  ...          46      F

[46 rows x 14 columns]

In [11]:
df[df.Mid>25].count()

Student Code            20
Degree                  20
Student Name            20
Mid                     20
Quiz 1                  20
Quiz 2                  18
Best of Quizzes         20
Assignment 1            20
Assignment 2            14
Best of Assignments     20
Total Sessional (50)    20
Final (50)              20
Total (100)             20
Grade                   20
dtype: int64

In [12]:
df.iloc[10]

Student Code                  022-14-110214
Degree                               BS(CS)
Student Name            Fatima Haider Warsi
Mid                                      30
Quiz 1                                    8
Quiz 2                                    7
Best of Quizzes                           8
Assignment 1                              8
Assignment 2                            NaN
Best of Assignments                       8
Total Sessional (50)                     46
Final (50)                               45
Total (100)                              91
Grade                                     A
Name: 10, dtype: object

In [13]:
df.iloc[10:11]

     Student Code  Degree         Student Name  ...  Final (50)  Total (100)  Grade
10  022-14-110214  BS(CS)  Fatima Haider Warsi  ...        45.0           91      A

[1 rows x 14 columns]

In [14]:
df[df["Student Name"]=="Muhammad Ghazali Faridi"]

     Student Code  Degree  ... Total (100)  Grade
26  022-14-110370  BS(CS)  ...          65      C

[1 rows x 14 columns]

In [15]:
df[df["Student Name"]=="Sumbul Rehman"]

     Student Code  Degree   Student Name  ...  Final (50)  Total (100)  Grade
42  022-14-110587  BS(CS)  Sumbul Rehman  ...        23.0           67      C

[1 rows x 14 columns]

In [16]:
df["Assignment 1"].iloc[5:18]

5     8.0
6     8.0
7     8.0
8     7.0
9     8.0
10    8.0
11    5.0
12    8.0
13    8.0
14    6.0
15    NaN
16    7.0
17    9.0
Name: Assignment 1, dtype: float64

In [17]:
df["Assignment 2"][3:18]

3      2.0
4      9.0
5     10.0
6     10.0
7     10.0
8      9.0
9      NaN
10     NaN
11     NaN
12    10.0
13    10.0
14     8.0
15     NaN
16     9.0
17    11.0
Name: Assignment 2, dtype: float64

In [18]:
df["Total Sessional (50)"].iloc[::3]

0     45
3     23
6     44
9     44
12    40
15    18
18    31
21    40
24    44
27    45
30    40
33    34
36    43
39    43
42    44
45    45
Name: Total Sessional (50), dtype: int64

In [19]:
df["Total Sessional (50)"].iloc[[1,2,3,4,5,7,8,9]]

1    32
2    33
3    23
4    43
5    44
7    45
8    37
9    44
Name: Total Sessional (50), dtype: int64

In [20]:
data=df.dropna()
data.shape
data

     Student Code  Degree  ... Total (100)  Grade
0    022-14-19987  BS(CS)  ...          70      B
2   022-14-110585  BS(CS)  ...          63      C
4   022-14-110648  BS(CS)  ...          77      B
5   022-14-110232  BS(CS)  ...          71      B
6   022-14-110588  BS(CS)  ...          74      B
7   022-14-110388  BS(CS)  ...          85      A
8   022-14-110601  BS(CS)  ...          61      C
12  022-15-110994  BS(CS)  ...          73      B
13  022-14-110600  BS(CS)  ...          67      C
14  022-14-110389  BS(CS)  ...          65      C
16  022-14-110596  BS(CS)  ...          72      B
17  022-14-110396  BS(CS)  ...          70      B
18  022-14-110223  BS(CS)  ...          60      C
19  022-14-110222  BS(CS)  ...          91      A
20  022-14-110412  BS(CS)  ...          71      B
21  022-14-110593  BS(CS)  ...          60      C
24  022-14-110215  BS(CS)  ...          77      B
25  022-14-110105  BS(CS)  ...          86      A
27  022-14-110452  BS(CS)  ...          71      B
28  022-14-110387  BS(CS)  ...          57      F
33   022-14-19919  BS(CS)  ...          51      F
34  022-14-110413  BS(CS)  ...          86      A
38  022-14-110229  BS(CS)  ...          39      F
39  022-14-110107  BS(CS)  ...          68      C
40  022-14-110584  BS(CS)  ...          81      A
41  022-14-110225  BS(CS)  ...          57      F
42  022-14-110587  BS(CS)  ...          67      C
43  022-14-110451  BS(CS)  ...          79      B
46   022-14-19911  BS(CS)  ...          65      C
47  022-14-110219  BS(CS)  ...          46      F

[30 rows x 14 columns]

In [21]:
df.isnull()

    Student Code  Degree  Student Name  ...  Final (50)  Total (100)  Grade
0          False   False         False  ...       False        False  False
1          False   False         False  ...       False        False  False
2          False   False         False  ...       False        False  False
3          False   False         False  ...       False        False  False
4          False   False         False  ...       False        False  False
5          False   False         False  ...       False        False  False
6          False   False         False  ...       False        False  False
7          False   False         False  ...       False        False  False
8          False   False         False  ...       False        False  False
9          False   False         False  ...       False        False  False
10         False   False         False  ...       False        False  False
11         False   False         False  ...       False        False  False
12         False   False         False  ...       False        False  False
13         False   False         False  ...       False        False  False
14         False   False         False  ...       False        False  False
15         False   False         False  ...        True        False  False
16         False   False         False  ...       False        False  False
17         False   False         False  ...       False        False  False
18         False   False         False  ...       False        False  False
19         False   False         False  ...       False        False  False
20         False   False         False  ...       False        False  False
21         False   False         False  ...       False        False  False
22         False   False         False  ...       False        False  False
23         False   False         False  ...       False        False  False
24         False   False         False  ...       False        False  False
25         False   False         False  ...       False        False  False
26         False   False         False  ...       False        False  False
27         False   False         False  ...       False        False  False
28         False   False         False  ...       False        False  False
29         False   False         False  ...       False        False  False
30         False   False         False  ...       False        False  False
31         False   False         False  ...       False        False  False
32         False   False         False  ...       False        False  False
33         False   False         False  ...       False        False  False
34         False   False         False  ...       False        False  False
35         False   False         False  ...       False        False  False
36         False   False         False  ...       False        False  False
37         False   False         False  ...       False        False  False
38         False   False         False  ...       False        False  False
39         False   False         False  ...       False        False  False
40         False   False         False  ...       False        False  False
41         False   False         False  ...       False        False  False
42         False   False         False  ...       False        False  False
43         False   False         False  ...       False        False  False
44         False   False         False  ...       False        False  False
45         False   False         False  ...       False        False  False
46         False   False         False  ...       False        False  False
47         False   False         False  ...       False        False  False

[48 rows x 14 columns]

In [22]:
df.isna()

    Student Code  Degree  Student Name  ...  Final (50)  Total (100)  Grade
0          False   False         False  ...       False        False  False
1          False   False         False  ...       False        False  False
2          False   False         False  ...       False        False  False
3          False   False         False  ...       False        False  False
4          False   False         False  ...       False        False  False
5          False   False         False  ...       False        False  False
6          False   False         False  ...       False        False  False
7          False   False         False  ...       False        False  False
8          False   False         False  ...       False        False  False
9          False   False         False  ...       False        False  False
10         False   False         False  ...       False        False  False
11         False   False         False  ...       False        False  False
12         False   False         False  ...       False        False  False
13         False   False         False  ...       False        False  False
14         False   False         False  ...       False        False  False
15         False   False         False  ...        True        False  False
16         False   False         False  ...       False        False  False
17         False   False         False  ...       False        False  False
18         False   False         False  ...       False        False  False
19         False   False         False  ...       False        False  False
20         False   False         False  ...       False        False  False
21         False   False         False  ...       False        False  False
22         False   False         False  ...       False        False  False
23         False   False         False  ...       False        False  False
24         False   False         False  ...       False        False  False
25         False   False         False  ...       False        False  False
26         False   False         False  ...       False        False  False
27         False   False         False  ...       False        False  False
28         False   False         False  ...       False        False  False
29         False   False         False  ...       False        False  False
30         False   False         False  ...       False        False  False
31         False   False         False  ...       False        False  False
32         False   False         False  ...       False        False  False
33         False   False         False  ...       False        False  False
34         False   False         False  ...       False        False  False
35         False   False         False  ...       False        False  False
36         False   False         False  ...       False        False  False
37         False   False         False  ...       False        False  False
38         False   False         False  ...       False        False  False
39         False   False         False  ...       False        False  False
40         False   False         False  ...       False        False  False
41         False   False         False  ...       False        False  False
42         False   False         False  ...       False        False  False
43         False   False         False  ...       False        False  False
44         False   False         False  ...       False        False  False
45         False   False         False  ...       False        False  False
46         False   False         False  ...       False        False  False
47         False   False         False  ...       False        False  False

[48 rows x 14 columns]

In [23]:
df.notnull()

    Student Code  Degree  Student Name  ...  Final (50)  Total (100)  Grade
0           True    True          True  ...        True         True   True
1           True    True          True  ...        True         True   True
2           True    True          True  ...        True         True   True
3           True    True          True  ...        True         True   True
4           True    True          True  ...        True         True   True
5           True    True          True  ...        True         True   True
6           True    True          True  ...        True         True   True
7           True    True          True  ...        True         True   True
8           True    True          True  ...        True         True   True
9           True    True          True  ...        True         True   True
10          True    True          True  ...        True         True   True
11          True    True          True  ...        True         True   True
12          True    True          True  ...        True         True   True
13          True    True          True  ...        True         True   True
14          True    True          True  ...        True         True   True
15          True    True          True  ...       False         True   True
16          True    True          True  ...        True         True   True
17          True    True          True  ...        True         True   True
18          True    True          True  ...        True         True   True
19          True    True          True  ...        True         True   True
20          True    True          True  ...        True         True   True
21          True    True          True  ...        True         True   True
22          True    True          True  ...        True         True   True
23          True    True          True  ...        True         True   True
24          True    True          True  ...        True         True   True
25          True    True          True  ...        True         True   True
26          True    True          True  ...        True         True   True
27          True    True          True  ...        True         True   True
28          True    True          True  ...        True         True   True
29          True    True          True  ...        True         True   True
30          True    True          True  ...        True         True   True
31          True    True          True  ...        True         True   True
32          True    True          True  ...        True         True   True
33          True    True          True  ...        True         True   True
34          True    True          True  ...        True         True   True
35          True    True          True  ...        True         True   True
36          True    True          True  ...        True         True   True
37          True    True          True  ...        True         True   True
38          True    True          True  ...        True         True   True
39          True    True          True  ...        True         True   True
40          True    True          True  ...        True         True   True
41          True    True          True  ...        True         True   True
42          True    True          True  ...        True         True   True
43          True    True          True  ...        True         True   True
44          True    True          True  ...        True         True   True
45          True    True          True  ...        True         True   True
46          True    True          True  ...        True         True   True
47          True    True          True  ...        True         True   True

[48 rows x 14 columns]

In [24]:
df

     Student Code  Degree  ... Total (100)  Grade
0    022-14-19987  BS(CS)  ...          70      B
1   022-14-110233  BS(CS)  ...          50      F
2   022-14-110585  BS(CS)  ...          63      C
3    022-14-19718  BS(CS)  ...          46      F
4   022-14-110648  BS(CS)  ...          77      B
5   022-14-110232  BS(CS)  ...          71      B
6   022-14-110588  BS(CS)  ...          74      B
7   022-14-110388  BS(CS)  ...          85      A
8   022-14-110601  BS(CS)  ...          61      C
9   022-14-110599  BS(CS)  ...          84      A
10  022-14-110214  BS(CS)  ...          91      A
11  022-14-110591  BS(CS)  ...          76      B
12  022-15-110994  BS(CS)  ...          73      B
13  022-14-110600  BS(CS)  ...          67      C
14  022-14-110389  BS(CS)  ...          65      C
15   022-14-19916  BS(CS)  ...          18      F
16  022-14-110596  BS(CS)  ...          72      B
17  022-14-110396  BS(CS)  ...          70      B
18  022-14-110223  BS(CS)  ...          60      C
19  022-14-110222  BS(CS)  ...          91      A
20  022-14-110412  BS(CS)  ...          71      B
21  022-14-110593  BS(CS)  ...          60      C
22  022-14-110398  BS(CS)  ...          57      F
23   022-14-19983  BS(CS)  ...          62      C
24  022-14-110215  BS(CS)  ...          77      B
25  022-14-110105  BS(CS)  ...          86      A
26  022-14-110370  BS(CS)  ...          65      C
27  022-14-110452  BS(CS)  ...          71      B
28  022-14-110387  BS(CS)  ...          57      F
29  022-14-110217  BS(CS)  ...          39      F
30  022-14-110401  BS(CS)  ...          72      B
31  022-14-110231  BS(CS)  ...          73      B
32  022-14-110035  BS(CS)  ...          29      F
33   022-14-19919  BS(CS)  ...          51      F
34  022-14-110413  BS(CS)  ...          86      A
35   022-14-19923  BS(CS)  ...          66      C
36  022-14-110582  BS(CS)  ...          70      B
37  022-14-110230  BS(CS)  ...          75      B
38  022-14-110229  BS(CS)  ...          39      F
39  022-14-110107  BS(CS)  ...          68      C
40  022-14-110584  BS(CS)  ...          81      A
41  022-14-110225  BS(CS)  ...          57      F
42  022-14-110587  BS(CS)  ...          67      C
43  022-14-110451  BS(CS)  ...          79      B
44  022-14-110589  BS(CS)  ...          63      C
45  022-14-110400  BS(CS)  ...          80      A
46   022-14-19911  BS(CS)  ...          65      C
47  022-14-110219  BS(CS)  ...          46      F

[48 rows x 14 columns]

In [25]:
df[df["Student Name"].str.startswith("A")]

    Student Code  Degree      Student Name  ...  Final (50)  Total (100)  Grade
0   022-14-19987  BS(CS)       Abdul Basit  ...        25.0           70      B
1  022-14-110233  BS(CS)       Adeel Ahmed  ...        18.0           50      F
2  022-14-110585  BS(CS)      Afrah Zareen  ...        30.0           63      C
3   022-14-19718  BS(CS)    Ahmed Ali Raza  ...        23.0           46      F
4  022-14-110648  BS(CS)   Ahsan Ali Vohra  ...        34.0           77      B
5  022-14-110232  BS(CS)       Ameer Hamza  ...        27.0           71      B
6  022-14-110588  BS(CS)     Anas Ali Khan  ...        30.0           74      B
7  022-14-110388  BS(CS)  Aneebullah Niazi  ...        40.0           85      A
8  022-14-110601  BS(CS)    Areesha Sohail  ...        24.0           61      C
9  022-14-110599  BS(CS)           Arsalan  ...        40.0           84      A

[10 rows x 14 columns]

In [26]:
df[(df["Student Name"].str.startswith("A")) & (df["Grade"]=="A")]

    Student Code  Degree      Student Name  ...  Final (50)  Total (100)  Grade
7  022-14-110388  BS(CS)  Aneebullah Niazi  ...        40.0           85      A
9  022-14-110599  BS(CS)           Arsalan  ...        40.0           84      A

[2 rows x 14 columns]

In [27]:
df[(df["Student Name"].str.endswith("Khan")) & (df["Grade"]!="A")]

     Student Code  Degree           Student Name  ...  Final (50)  Total (100)  Grade
6   022-14-110588  BS(CS)          Anas Ali Khan  ...        30.0           74      B
27  022-14-110452  BS(CS)    Muhammad Osama Khan  ...        26.0           71      B
32  022-14-110035  BS(CS)  Muhammad Wajahat Khan  ...         8.0           29      F
46   022-14-19911  BS(CS)             Usman Khan  ...        22.0           65      C

[4 rows x 14 columns]

In [28]:
df[["Student Name","Mid","Grade"]][(df.Grade == "A")]

           Student Name  Mid Grade
7      Aneebullah Niazi   26     A
9               Arsalan   28     A
10  Fatima Haider Warsi   30     A
19      Mohammad Hunain   27     A
25       Muhammad Faraz   26     A
34     Nazeer Bin Zafar   25     A
40          Sharif Taqi   27     A
45    Syeda Sabika Raza   27     A

In [29]:
df[["Student Name","Assignment 1","Grade"]][(df.Grade == "A")]

           Student Name  Assignment 1 Grade
7      Aneebullah Niazi           8.0     A
9               Arsalan           8.0     A
10  Fatima Haider Warsi           8.0     A
19      Mohammad Hunain           8.0     A
25       Muhammad Faraz           8.0     A
34     Nazeer Bin Zafar           8.0     A
40          Sharif Taqi           8.0     A
45    Syeda Sabika Raza           9.0     A

In [30]:
df[df["Student Name"].str.contains("Ali")]

     Student Code  Degree        Student Name  ...  Final (50)  Total (100)  Grade
3    022-14-19718  BS(CS)      Ahmed Ali Raza  ...        23.0           46      F
4   022-14-110648  BS(CS)     Ahsan Ali Vohra  ...        34.0           77      B
6   022-14-110588  BS(CS)       Anas Ali Khan  ...        30.0           74      B
23   022-14-19983  BS(CS)  Muhammad Ali Iqbal  ...        21.0           62      C

[4 rows x 14 columns]

In [33]:
df.rename(columns={"Total (100)" : "Grand Total"})

     Student Code  Degree  ... Grand Total  Grade
0    022-14-19987  BS(CS)  ...          70      B
1   022-14-110233  BS(CS)  ...          50      F
2   022-14-110585  BS(CS)  ...          63      C
3    022-14-19718  BS(CS)  ...          46      F
4   022-14-110648  BS(CS)  ...          77      B
5   022-14-110232  BS(CS)  ...          71      B
6   022-14-110588  BS(CS)  ...          74      B
7   022-14-110388  BS(CS)  ...          85      A
8   022-14-110601  BS(CS)  ...          61      C
9   022-14-110599  BS(CS)  ...          84      A
10  022-14-110214  BS(CS)  ...          91      A
11  022-14-110591  BS(CS)  ...          76      B
12  022-15-110994  BS(CS)  ...          73      B
13  022-14-110600  BS(CS)  ...          67      C
14  022-14-110389  BS(CS)  ...          65      C
15   022-14-19916  BS(CS)  ...          18      F
16  022-14-110596  BS(CS)  ...          72      B
17  022-14-110396  BS(CS)  ...          70      B
18  022-14-110223  BS(CS)  ...          60      C
19  022-14-110222  BS(CS)  ...          91      A
20  022-14-110412  BS(CS)  ...          71      B
21  022-14-110593  BS(CS)  ...          60      C
22  022-14-110398  BS(CS)  ...          57      F
23   022-14-19983  BS(CS)  ...          62      C
24  022-14-110215  BS(CS)  ...          77      B
25  022-14-110105  BS(CS)  ...          86      A
26  022-14-110370  BS(CS)  ...          65      C
27  022-14-110452  BS(CS)  ...          71      B
28  022-14-110387  BS(CS)  ...          57      F
29  022-14-110217  BS(CS)  ...          39      F
30  022-14-110401  BS(CS)  ...          72      B
31  022-14-110231  BS(CS)  ...          73      B
32  022-14-110035  BS(CS)  ...          29      F
33   022-14-19919  BS(CS)  ...          51      F
34  022-14-110413  BS(CS)  ...          86      A
35   022-14-19923  BS(CS)  ...          66      C
36  022-14-110582  BS(CS)  ...          70      B
37  022-14-110230  BS(CS)  ...          75      B
38  022-14-110229  BS(CS)  ...          39      F
39  022-14-110107  BS(CS)  ...          68      C
40  022-14-110584  BS(CS)  ...          81      A
41  022-14-110225  BS(CS)  ...          57      F
42  022-14-110587  BS(CS)  ...          67      C
43  022-14-110451  BS(CS)  ...          79      B
44  022-14-110589  BS(CS)  ...          63      C
45  022-14-110400  BS(CS)  ...          80      A
46   022-14-19911  BS(CS)  ...          65      C
47  022-14-110219  BS(CS)  ...          46      F

[48 rows x 14 columns]

In [0]:
df["Best of Quizzes"]=df["Quiz 1"]+df["Quiz 2"]

In [37]:
df

     Student Code  Degree  ... Total (100)  Grade
0    022-14-19987  BS(CS)  ...          70      B
1   022-14-110233  BS(CS)  ...          50      F
2   022-14-110585  BS(CS)  ...          63      C
3    022-14-19718  BS(CS)  ...          46      F
4   022-14-110648  BS(CS)  ...          77      B
5   022-14-110232  BS(CS)  ...          71      B
6   022-14-110588  BS(CS)  ...          74      B
7   022-14-110388  BS(CS)  ...          85      A
8   022-14-110601  BS(CS)  ...          61      C
9   022-14-110599  BS(CS)  ...          84      A
10  022-14-110214  BS(CS)  ...          91      A
11  022-14-110591  BS(CS)  ...          76      B
12  022-15-110994  BS(CS)  ...          73      B
13  022-14-110600  BS(CS)  ...          67      C
14  022-14-110389  BS(CS)  ...          65      C
15   022-14-19916  BS(CS)  ...          18      F
16  022-14-110596  BS(CS)  ...          72      B
17  022-14-110396  BS(CS)  ...          70      B
18  022-14-110223  BS(CS)  ...          60      C
19  022-14-110222  BS(CS)  ...          91      A
20  022-14-110412  BS(CS)  ...          71      B
21  022-14-110593  BS(CS)  ...          60      C
22  022-14-110398  BS(CS)  ...          57      F
23   022-14-19983  BS(CS)  ...          62      C
24  022-14-110215  BS(CS)  ...          77      B
25  022-14-110105  BS(CS)  ...          86      A
26  022-14-110370  BS(CS)  ...          65      C
27  022-14-110452  BS(CS)  ...          71      B
28  022-14-110387  BS(CS)  ...          57      F
29  022-14-110217  BS(CS)  ...          39      F
30  022-14-110401  BS(CS)  ...          72      B
31  022-14-110231  BS(CS)  ...          73      B
32  022-14-110035  BS(CS)  ...          29      F
33   022-14-19919  BS(CS)  ...          51      F
34  022-14-110413  BS(CS)  ...          86      A
35   022-14-19923  BS(CS)  ...          66      C
36  022-14-110582  BS(CS)  ...          70      B
37  022-14-110230  BS(CS)  ...          75      B
38  022-14-110229  BS(CS)  ...          39      F
39  022-14-110107  BS(CS)  ...          68      C
40  022-14-110584  BS(CS)  ...          81      A
41  022-14-110225  BS(CS)  ...          57      F
42  022-14-110587  BS(CS)  ...          67      C
43  022-14-110451  BS(CS)  ...          79      B
44  022-14-110589  BS(CS)  ...          63      C
45  022-14-110400  BS(CS)  ...          80      A
46   022-14-19911  BS(CS)  ...          65      C
47  022-14-110219  BS(CS)  ...          46      F

[48 rows x 14 columns]